pysqlite3-binary==0.5.4
python-dotenv==1.0.1
pydantic==2.9.2
chromadb==0.6.3
xlrd==2.0.1
ibm-watsonx-ai==1.2.1
langchain_ibm==0.3.5
langchain==0.3.14
langchain_community==0.3.14
langchain-huggingface==0.1.2
langchain-experimental==0.3.4
sentence-transformers==3.3.1